<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login Page</title>
</head>

<body>
    <form action="/login/" method="post">
        {% csrf_token %}

        <input type="text" name="username" id="" placeholder="username"> <br>
        <input type="password" name="password" id="" placeholder="password"> <br>
        <input type="submit" value="submit">
    </form>

    <a href="/signup/">singup</a> <br>
    <a href="/home/">home</a>

    <div>
        {% for message in messages %}
        <h3> {{ message }} </h3>
        {% endfor %}
    </div>
</body>

</html>