<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="{% static '/CSS/stylesignup.css' %}">
</head>
<body>
    <div class="box">
        <h2>contact Details</h2>
        <form action="" method="post">
            <div>
                <input type="text" name="" required>
                <label>Name</label>
            </div>
            <div>
                <input type="email" name="" required>
                <label>email</label>
            </div>
            <div>
                <input type="text" name="" required>
                <label>Subject</label>
            </div>
            <div>
                <textarea name="" id=""></textarea>
                <label>Messege</label>
            </div>
            <div>
                <input type="submit" value="submit">
            </div>
        </form>
    </div>
</body>
</html>