<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movies Play</title>
</head>

<body>
    <div>
        {% for web in webs %}
        <h1>{{web.Name_of_webSeries}}</h1>
        <video name='demo' controls width='50%' height='40%'>
            <source src="{{web.Video_clip.url}}" type="video/mp4">
        </video>
        {% endfor %}
    </div>
</body>

</html>